#bg-img {
    background: url('./img/flat-lay-workstation-with-copy-space-laptop.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    margin-bottom: -200px;
}